@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    font-family: "Exp", sans-serif;
  }
}

@layer components {
  input[type="file"]::after {
    content: "";
  }
  canvas {
    width: 700px;
    height: 400px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
