@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    font-family: "Montserrat", "Hind Madurai", sans-serif, "Lora", serif;
  }
  canvas {
    position: absolute;
    top: 0;
    left: 0;
  }
}

@layer components {
  canvas {
    position: absolute;
    top: 0;
    left: 0;
  }
  input[type='file']::after {
    content: "";
  }
}
